.box {
	@apply absolute top-[120%] left-0 right-0 max-h-60 overflow-y-auto bg-dark rounded-3xl p-4 z-10 animate-open;

	& > div + div {
		@apply mt-2;
	}
}

.title {
	@apply block font-medium text-sm leading-tight mb-2;
}

.item {
	& + & {
		@apply mt-2;
	}
}

.childItem {
	& + & {
		@apply mt-1;
	}
}
