.item {
	& > a {
		@apply flex gap-x-2.5 transition-colors hover:bg-primary-950 rounded-2xl;
	}
}

.image {
	@apply aspect-square object-cover rounded-2xl h-min flex-shrink-0;
}

.content {
	@apply flex flex-col justify-between gap-y-1 pr-2.5;
}

.title {
	@apply font-medium text-sm line-clamp-2;
}

.info {
	@apply flex items-center gap-x-2;
}

.premiere {
	@apply text-xs;
}
