.item {
	@apply relative flex gap-2.5 p-2 rounded-lg hover:bg-background transition-colors;
}

.link {
	@apply before:content-[''] absolute inset-0;
}

.image {
	@apply rounded-xl aspect-square object-cover flex-shrink-0;
}

.content {
	@apply flex flex-col justify-between gap-y-2.5 flex-grow;

	& > div {
		@apply flex items-start justify-between gap-x-5;
	}
}

.title {
	@apply font-medium line-clamp-1;
}

.info {
	@apply flex items-center text-sm;

	& > *:not(:last-child) {
		@apply mr-2.5 pr-2.5 border-r border-r-primary-200/20;
	}
}

.description {
	@apply text-sm text-primary-200 line-clamp-2;
}
