.box {
	@apply flex items-center gap-x-2.5 pr-7;
}

.avatar {
	@apply w-12 h-12 rounded-full overflow-hidden;

	& > img {
		@apply w-full h-full object-cover;
	}
}

.name {
	@apply block font-medium text-sm;
}
